
/* [s] 2023-03-02 #student 삭제 */
.student-send-btn{
  position: absolute;
	z-index: 9999999999999;
    touch-action: none;
    bottom: 72px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 0;
    background-color: #f1436d;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 15%);
}

.student-send-btn::before {
  content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 27px;
	height: 31px;
	background: url("../images/fel_arr_up_math.png") no-repeat center;
	transform: translate(-50%, -30%);
	animation-name: arrowMove;
	animation-direction: alternate;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.student-send-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 27px;
  height: 31px;
  background: url("../images/fel_arr_up_math.png") no-repeat center;
  transform: translate(-50%, -75%);
  animation-name: arrowMove;
  animation-direction: alternate;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: .1s;
}
/* [e] 2023-03-02 #student 삭제 */
#student d-none {
	display: none;
}

@keyframes arrowMove {
  from {
      opacity: 0.2;
  }
  to {
      opacity: 1;
  }
}
/* send button end */
